<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, commodi consequatur cumque delectus dignissimos dolorum ex fugiat fugit harum, iure iusto maiores modi nam odio quas totam veniam. A alias aperiam, cum cupiditate delectus dolores excepturi explicabo facilis illo illum inventore odio perferendis placeat porro, reiciendis reprehenderit sapiente, voluptatem voluptates!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, commodi consequatur cumque delectus dignissimos dolorum ex fugiat fugit harum, iure iusto maiores modi nam odio quas totam veniam. A alias aperiam, cum cupiditate delectus dolores excepturi explicabo facilis illo illum inventore odio perferendis placeat porro, reiciendis reprehenderit sapiente, voluptatem voluptates!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, commodi consequatur cumque delectus dignissimos dolorum ex fugiat fugit harum, iure iusto maiores modi nam odio quas totam veniam. A alias aperiam, cum cupiditate delectus dolores excepturi explicabo facilis illo illum inventore odio perferendis placeat porro, reiciendis reprehenderit sapiente, voluptatem voluptates!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, commodi consequatur cumque delectus dignissimos dolorum ex fugiat fugit harum, iure iusto maiores modi nam odio quas totam veniam. A alias aperiam, cum cupiditate delectus dolores excepturi explicabo facilis illo illum inventore odio perferendis placeat porro, reiciendis reprehenderit sapiente, voluptatem voluptates!</p>
  </div>
</div>
