<div class="card">
  <h2>About extra</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus beatae commodi ipsam iure maiores minus modi
    quasi quidem quisquam voluptas!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi dolor ex fugit iure nobis nulla placeat quae quia
    quis, quisquam quo, repellendus reprehenderit rerum saepe velit voluptatem voluptates voluptatum!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam ducimus eveniet fuga iure iusto nemo
    nobis praesentium quas. Alias aliquid consectetur culpa dignissimos, doloribus dolorum error facere, illum, itaque
    pariatur quaerat saepe sed sequi vero voluptatibus. Molestiae, rerum vero.</p>
</div>
